* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.info{
	display: flex;
	justify-content: center;
	align-items: center;
	
	
	width: 200px;
	height: 200px;
	background-color: aqua;
}