@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: rgb(0, 0, 0);
  color: white;
  text-align: center;
  padding: 1.25rem;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 90%;
  
  margin: 0 auto;
  overflow: hidden;
}

.search-container {
  width: 80%;
  margin: 0 auto;
  position: relative;
}
.search-container input {
  color: rgb(167, 76, 76);
  padding: 0.5rem 1.5rem;
  font-weight: 700;
  width: 68%;
  background-color: transparent;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 0.25rem;
  outline: none;
  transition: 150ms ease-in-out;
}
.search-container input:hover, .search-container input:focus {
  border-color: rgb(0, 0, 0);
}
.search-container i {
  position: absolute;
  top: 0.7rem;
  right: 1.5rem;
  cursor: pointer;
  
}

.character-list {
  width: 900px;
  
  margin: 0 auto;
  padding: 1rem 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1.5rem;
}
.character-list .character {
    height: 500px;
  color: black;
  text-align: left;
  background-color: white;
  border-radius: 1px;
  border: 10px solid red;
  box-shadow: 0 0 20px white;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: "name image" "house image" "patronus image";
  padding: 1rem 1.75rem;
}
.character-list .character .name {
  grid-area: name;
  margin-bottom: -0.25rem;
}
.character-list .character .house {
  grid-area: house;
  margin-bottom: -0.25rem;
}
.character-list .character .patronus {
  grid-area: patronus;
}
.character-list .character .image {
  grid-area: image;
  max-height: 300px;
  align-self: center;
}