*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    border: 2px solid black;
}
.bx{
    border: 2px solid rgb(0, 0, 0);
    padding: 1px;
    border-radius: 50%;
}
